* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'xkcd-script';
    /* src: url('./fonts/xkcd-script.ttf') format('truetype'); */
    src: url('xkcd-script.ttf') format('truetype');
}


body {
    /* font-family: Arial, sans-serif; */
    /* font-family: 'Georgia', serif; */
    /* font-family: 'xkcd-script', sans-serif; */
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    /* margin: 0 auto; */
    /* margin: 0 auto; */
    /* padding: 2em; */
    margin: 1cm;
    max-width: 850px;
    color: #000;
}

h1, h2, h3 {
    font-family: 'xkcd-script', sans-serif;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
    margin-top: 1.5em;
}

.header {
    width: 100%;
    margin: 0em;
}

.header img {
    width: 80px;
    height: 80px;
}

#personal-icon{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 95px;
    height: 95px;
    /* opacity: 0.9; */
}

.mini-icon{
    width: 20px;
    height: 20px;
    translate: 0px 5px;
}

.skill-desc-icon{
    /* translate: 0px 5px; */
    width: 18px;
    height: 18px;
    /* Wrap words around them */
    /* float: left; */
    margin-right: 4px;
    vertical-align: middle;
}

.contact-info {
    margin-top: 0.5em;
    font-size: 1em;
    text-align: center;
}

.section {
    margin-bottom: 1.5em;
}

#skills-section {
    margin-top: 1em;
}

.section-title{
    width: 100%;
    margin-bottom: 5px;
}

#geodoodle-icon{
    float: left;
}

#github-icon2{
    /* float: inline-start; */
    /* position: ab; */
    
}



a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 1.2em;
}

li {
    margin-bottom: 0.3em;
}

.skills-columns {
    display: grid;
    /* I don't know how this works, but it does */
    /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
    grid-template-columns: 50% 50%;
    gap: 0.5em 1.5em;
    margin-top: 0.5em;
}

.skills-columns div {
    white-space: pre-wrap;
}

#name{
    font-family: 'Cambria Math', serif;
    font-size: 28pt;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0.1em;
    margin-top: 0;
    padding-top: 0;
}

#title{
    font-size: 14pt; 
    text-align: center;
    font-weight: normal;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    color: #d6d4d4;
}

.section-desc{
    /* text-align: right; */
    float: right;
    font-weight: normal;
    color: #494747;
    /* italicize */
    font-style: italic;
}

@media print {
    body {
        padding: 0;
    }

    .page-break {
        page-break-before: always;
    }
}

@page {
    /* size: a6 portrait; */
    size: 8.5in 11in;
    /* The margin, if any, is handled by the body */
    margin: 0cm;
}
